@mixin media($size) {
  @media screen and (max-width: #{$size}px) {
    @content;
  }
}

$fontPath: "../../assets/fonts/";

$fontWeightNormal: 400;
$fontWeightBold: 700;
$fontWeightMedium: 500;

@font-face {
  font-family: "font";
  src: url("#{$fontPath}OpenSans_Condensed-Regular.ttf") format("truetype");
  font-weight: $fontWeightNormal;
  font-style: normal;
}

@font-face {
  font-family: "font";
  src: url("#{$fontPath}OpenSans_Condensed-Bold.ttf") format("truetype");
  font-weight: $fontWeightBold;
  font-style: normal;
}

@font-face {
  font-family: "font";
  src: url("#{$fontPath}OpenSans_Condensed-Medium.ttf") format("truetype");
  font-weight: $fontWeightMedium;
  font-style: normal;
}

@mixin font($weight: $fontWeightNormal) {
  font-family: "font", sans-serif;
  font-weight: $weight;
}

.starter {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
  margin-top: 70px;
  flex-wrap: wrap;

  img {
    @include media(750) {
      max-width: 650px;
    }

    @include media(700) {
      max-width: 600px;
    }

    @include media(650) {
      max-width: 550px;
    }

    @include media(600) {
      max-width: 500px;
    }

    @include media(550) {
      max-width: 450px;
    }

    @include media(450) {
      max-width: 400px;
    }

    @include media(400) {
      max-width: 350px;
    }

    @include media(350) {
      max-width: 300px;
    }
  }
}

.col {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @include media(800) {
    gap: 40px;
  }

  @include media(700) {
    gap: 30px;
  }

  @include media(500) {
    gap: 20px;
  }

  @include media(350) {
    gap: 15px;
  }

  p {
    color: #000;
    max-width: 530px;
    font-size: 18px;
    line-height: 150.682%;
    letter-spacing: 0.18px;
  }

  a {
    color: #FFF;
    font-size: 16px;
    padding: 10px 40px;
    border-radius: 32px;
    background: #000;
    box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.25);
    width: max-content;
  }
}

.vyc {
  margin-left: auto;
  width: 100%;
  max-width: 1000px;
  display: flex;
  text-align: right;
  margin-top: 70px;

  @include media(1000) {
    display: none;
  }
}

.pon {
  @include media(1321) {
    flex-direction: column-reverse;
  }
}

.technoooblat {
  margin-top: 50px;

}

.isho {
  @include media(1000) {
    display: flex;
  }
}

.title {
  display: flex;
  max-width: 75%;
  gap: 50px;
  margin-top: 100px;

  @include media(1100) {
    flex-direction: column;
    max-width: 100%;

    img {
      display: none;
    }

    align-items: center;
  }

  @include media(500) {
    margin-top: 35px;
  }

  img {
    @include media(1400) {
      max-width: 400px;
    }

    @include media(1100) {
      max-width: 100%;
      width: 600px;
    }

    @include media(700) {
      width: 500px;
    }

    @include media(550) {
      width: 400px;
    }

    @include media(450) {
      width: 350px;
    }

    @include media(400) {
      width: 320px;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .hdfa {
      color: #000;
      @include font(700);
      font-size: 40px;
      letter-spacing: 1.8px;
      max-width: 650px;

      @include media(650) {
        font-size: 30px;
        max-width: 500px;
      }

      @include media(550) {
        font-size: 25px;
        max-width: 400px;
      }

      @include media(450) {
        font-size: 25px;
        max-width: 350px;
      }

      @include media(400) {
        font-size: 25px;
        max-width: 320px;
      }
    }

    a {
      color: #FFF;
      font-size: 16px;
      font-style: normal;
      letter-spacing: 0.24px;
      border-radius: 32px;
      background: #000;
      box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.25);
      padding: 10px 45px;
    }

    .imk {
      max-width: 40px;
    }

    p {
      max-width: 600px;
      color: #000;
      @include font();
      font-size: 18px;
      line-height: 150.682%;
      letter-spacing: 0.18px;

      @include media(1400) {
        font-size: 15px;
      }

      @include media(700) {
        max-width: 500px;
        font-size: 13px;
      }

      @include media(550) {
        max-width: 400px;
        font-size: 13px;
      }

      @include media(450) {
        max-width: 350px;
        font-size: 13px;
      }

      @include media(400) {
        max-width: 320px;
        font-size: 13px;
      }
    }

    justify-content: center;
    align-items: start;
  }

  align-items: center;
}

.mem {
  align-items: center;
}

.punc {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;

  &-content {
    font-size: 22px;
  }
}

.punct {
  display: flex;
  gap: 15px;
  align-items: center;

  h3 {
    @include media(700) {
      font-size: 28px;
    }

    @include media(550) {
      font-size: 25px;
    }

    @include media(450) {
      font-size: 22px;
    }

    @include media(400) {
      font-size: 19px;
    }

    font-size: 36px;
    letter-spacing: 1.62px;
    text-transform: uppercase;
    transition: .3s;

    .rot {
      img {
        transform: rotate(180deg) translateY(5px);
      }
    }
  }

  cursor: pointer;

  &:hover h3 {
    color: #29A28C;
  }

  &:hover p {
    background-color: #29A28C;
    border: #29A28C 1px solid;
    color: #FFF;
  }

  p {
    @include media(700) {
      width: 40px;
      height: 40px;
      font-size: 16px;
    }

    font-size: 18px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #000 1px solid;
    transition: .3s;
  }
}

.wisky {
  display: none;
  align-items: center;
  gap: 30px;

  @include media(1325) {
    display: flex;
  }

  img {
    max-width: 300px;
    height: 200px;

    @include media(550) {
      max-width: 250px;
    }

    @include media(450) {
      max-width: 200px;
    }

    @include media(400) {
      max-width: 150px;
    }
  }
}

.wis {
  position: relative;
  width: 700px;
  height: 600px;

  @include media(1325) {
    display: none;
  }

  .rott {
    position: absolute;
    top: 200px;
    left: 40%;
    width: 150px;
    animation: animaton3000 2s infinite linear;
    transform-origin: center;
  }

  .rott1 {
    bottom: 0;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    height: 200px;

    @include media(550) {
      width: 250px;
    }

    @include media(450) {
      width: 200px;
    }

    @include media(400) {
      width: 150px;
    }
  }

  .rott2 {
    position: absolute;
    top: 0;
    left: 0;
    transition: 1.5s;
    width: 200px;

    @include media(550) {
      width: 250px;
    }

    @include media(450) {
      width: 200px;
    }

    @include media(400) {
      width: 150px;
    }
  }

  .rott3 {
    position: absolute;
    top: 0;
    right: 0;
    transition: 1.5s;
    width: 300px;

    @include media(550) {
      width: 250px;
    }

    @include media(450) {
      width: 200px;
    }

    @include media(400) {
      width: 150px;
    }
  }
}

@keyframes animaton3000 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.esl {
  max-width: 300px;
  overflow: hidden;
  max-height: 200px;
  width: 300px;
  height: 200px;

  @include media(550) {
    width: 250px;
  }

  @include media(450) {
    width: 200px;
  }

  @include media(400) {
    width: 150px;
  }
}

.rott {
  animation: animaton3000 2s infinite linear;

  @include media(550) {
    width: 100px;
  }
}
.h2{
  max-width: 700px;
  margin: auto;
}
.lab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  flex-wrap: wrap;
  margin-top: 50px;
  @include media(1050){
    flex-direction: column-reverse;
  }
  img{
    @include media(1235){
      max-width: 500px;
    }
    @include media(1105){
      max-width: 450px;
    }
    @include media(500){
      display: none;
    }
  }
  .border{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .borders {
    display: flex;
    align-items: center;
    gap: 20px;
    
    p {
      color: #000;
      font-size: 18px;
      line-height: 150.682%;
      letter-spacing: 0.18px;
      max-width: 450px;
    }

    .line {
      width: 30px;
      height: 1px;
      background-color: #29A28C;
    }
  }
}
.h2{
  margin-top: 70px;
}