@mixin media($size) {
  @media screen and (max-width: #{$size}px) {
    @content;
  }
}

$fontPath: "../../assets/fonts/";

$fontWeightNormal: 400;
$fontWeightBold: 700;
$fontWeightMedium: 500;

@font-face {
  font-family: "font";
  src: url("#{$fontPath}OpenSans_Condensed-Regular.ttf") format("truetype");
  font-weight: $fontWeightNormal;
  font-style: normal;
}

@font-face {
  font-family: "font";
  src: url("#{$fontPath}OpenSans_Condensed-Bold.ttf") format("truetype");
  font-weight: $fontWeightBold;
  font-style: normal;
}

@font-face {
  font-family: "font";
  src: url("#{$fontPath}OpenSans_Condensed-Medium.ttf") format("truetype");
  font-weight: $fontWeightMedium;
  font-style: normal;
}

@mixin font($weight: $fontWeightNormal) {
  font-family: "font", sans-serif;
  font-weight: $weight;
}

.xyy {
  flex-direction: row-reverse;
}

.biks {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
  top: 100px;
  right: 90px;

  @include media(1650) {
    right: 70px !important;
  }

  @include media(1600) {
    right: 20px !important;
  }

  @include media(1500) {
    right: 50px !important;
  }

  @include media(1400) {
    position: static;
  }

  a {
    color: #FFF;
    font-size: 16px;
    border-radius: 32px;
    background: #000;
    box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 40px;
    width: max-content;

    @include media(1500) {
      padding: 7px 30px;
    }

    @include media(1100) {
      padding: 5px 25px;
    }
  }

  .punct {
    display: flex;
    align-items: center;

    p {
      max-width: 500px;
      font-size: 18px;

      @include media(1650) {
        font-size: 15px;
        max-width: 400px;
      }

      @include media(650) {
        font-size: 15px;
        max-width: 450px !important;
      }

      @include media(550) {
        font-size: 15px;
        max-width: 400px !important;
      }

      @include media(450) {
        font-size: 15px;
        max-width: 380px !important;
      }

      @include media(400) {
        font-size: 15px;
        max-width: 330px !important;
      }
    }
  }

  h5 {
    color: var(--2, #017B65);
    font-size: 26px;
    letter-spacing: 0.65px;

    @include media(500) {
      font-size: 22px;
    }
  }
}

.na {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: start;
  gap: 55px;

  @include media(1400) {
    flex-direction: column-reverse;
    align-items: center;
  }

  .worik {
    @include media(650) {
      max-width: 500px;
    }

    @include media(550) {
      max-width: 400px;
    }

    @include media(450) {
      max-width: 380px;
    }

    @include media(400) {
      max-width: 330px;
    }
  }
}

.kess {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 36px;

  .vb {
    flex-direction: row-reverse;

  }

  .tks {
    h2 {
      text-align: left;
    }

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 55px;
    margin-top: 100px;
    align-items: start;
    position: relative;

    @include media(1400) {
      flex-direction: column;
      position: static;
      align-items: center;
    }

    @include media(1100) {
      margin-top: 50px;
      gap: 30px;
    }

    .tri {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      @include media(1400) {
        flex-direction: row;
      }

      .rt {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border: 1px solid #000;
        transition: all .3s;
        font-size: 19px;
        cursor: pointer;

        @include media(450) {
          width: 45px;
          height: 45px;
          font-size: 15px;
        }

        &:hover {
          border: 1px solid #29A28C;
          background-color: #29A28C !important;
          color: white !important;
        }
      }
    }

    .bigs {
      display: flex;
      flex-direction: column;
      gap: 40px;
      position: absolute;
      top: 160px;
      left: 210px;

      @include media(1600) {
        left: 130px !important;
      }

      @include media(1500) {
        left: 100px !important;
      }

      @include media(1400) {
        position: static;
      }

      a {
        color: #FFF;
        font-size: 16px;
        border-radius: 32px;
        background: #000;
        box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.25);
        padding: 10px 40px;
        width: max-content;

        @include media(1500) {
          padding: 7px 30px;
        }

        @include media(1100) {
          padding: 5px 25px;
        }
      }

      .punct {
        display: flex;
        align-items: center;

        p {
          max-width: 500px;
          font-size: 18px;

          @include media(650) {
            font-size: 15px;
            max-width: 450px;
          }

          @include media(550) {
            font-size: 15px;
            max-width: 400px;
          }

          @include media(450) {
            font-size: 15px;
            max-width: 380px;
          }

          @include media(400) {
            font-size: 15px;
            max-width: 330px;
          }
        }
      }

      h5 {
        color: var(--2, #017B65);
        font-size: 26px;
        letter-spacing: 0.65px;

        @include media(500) {
          font-size: 22px;
        }
      }
    }
  }
}

.lst {
  margin-bottom: 100px;
}